{% extends '/layout/layout.html.twig' %}
{% block title %}
    Additional services
{% endblock %}
{% block body %}
    
    <div class="container">
        <h2 class="mt-5 mb-4 text-center">Additional services for {{item['itemName']|escape}}</h2>
        <div class="d-flex justify-content-center">
            <img src="/public/shopItems/{{item['itemImage']|escape}}" class="img-fluid w-25" alt="{{item['itemImage']|escape}}">
        </div>
            <div class="list-group-item offset-md-1 offset-0 col-md-10 col-12 mb-4 mt-3 fs-5 p-4">
                <a href="/shop" class="btn btn-outline-primary col-md-2 col-4 mb-4">Return</a> 
                <form action="/shop/cart" method="POST"> 
                    <h3>Warranty</h3>
                    <div class="mx-4">
                        <p class="mb-2">Period of warranty: {{item['warrantyPeriod']|escape}}</p>
                        <p class="mb-2">Warranty Cost: {{item['warrantyCost']|escape}} BYN</p> 
                        <input type="checkbox" name="warranty" class="form-check-input"> Include warranty</input>
                    </div>
                    <hr>
                    <h3>Delivery</h3>
                    <div class="mx-4">
                        <p class="mb-2">Period of delivery: {{item['deliveryPeriod']|escape}}</p>
                        <p class="mb-2">Delivery Cost: {{item['deliveryCost']|escape}} BYN</p> 
                        <input type="checkbox" name="delivery" class="form-check-input"> Include delivery</input>
                    </div>
                    <hr>
                    <h3>Set up</h3>
                    <div class="mx-4">
                        <p class="mb-2">Set up Cost: {{item['itemSetupCost']|escape}} BYN</p> 
                        <input type="checkbox" name="setUp" class="form-check-input"> Include set up</input>
                    </div>
                    <input type="hidden" name="itemId" value="{{item['id']|escape}}"></input>
                    <button type="submit" class="btn btn-primary mt-5 mb-3 p-2 col-md-4 col-8">Add to cart</button>
                </form>
            </div>
    </div>
   
{% endblock %}

{%  block js %}
    <script src="/app/js/script.js"></script>
{% endblock %}
