{% extends '/layout/layout.html.twig' %}
{% block title %}
    Shopping cart
{% endblock %}
{% block body %}

    <a href="/home" class="btn btn-outline-primary offset-md-1 offset-0 mt-4 me-3">Home</a> 
    <a href="/shop" class="btn btn-outline-primary mt-4">Shop</a> 
    <div class="container">
        {% if items %}
            <h2 class="mt-5 mb-4 text-center">Shopping cart</h2>
            <div class="list-group-item col-10 offset-1 mb-4 mt-3 fs-5 p-4">
                {% for item in items %}
                    {% for sessionItem in session %}
                        {% if item['id'] == sessionItem['itemId'] %}
                            <h4>{{item['itemName']}}</h4>
                            <div class="mx-4">
                                <img src="/public/shopItems/{{item['itemImage']|escape}}" class="img-fluid w-25 mb-2 mt-1" alt="{{item['itemImage']|escape}}">
                                {% if sessionItem['warranty'] %}
                                    <h5 class="mt-2">Warranty:</h5> 
                                    <p class="mt-2">{{item['warrantyPeriod']}}, cost: {{item['warrantyCost']}} BYN</p>   
                                {% endif %}
                                {% if sessionItem['delivery'] %}
                                    <h5 class="mt-2">Delivery:</h5> 
                                    <p class="mt-2">{{item['deliveryPeriod']|date('Y-m-d')}}, cost: {{item['deliveryCost']}} BYN</p>   
                                {% endif %}
                                {% if sessionItem['setUp'] %}
                                    <h5 class="mt-2">Set up:</h5> 
                                    <p class="mt-2">cost: {{item['itemSetupCost']}} BYN</p>   
                                {% endif %}
                                <p class="mt-4">
                                    {% set summ = item['itemCost']%}
                                    {% if sessionItem['warranty'] %}
                                        {% set summ = summ + item['warrantyCost'] %}
                                    {% endif %}
                                    {% if sessionItem['delivery'] %}
                                        {% set summ = summ + item['deliveryCost'] %}
                                    {% endif %}
                                    {% if sessionItem['setUp'] %}
                                        {% set summ = summ + item['itemSetupCost'] %}
                                    {% endif %}
                                    Total cost: {{summ}} BYN
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <hr>
                {% endfor %}
            </div>
        {% else %}
            <h2 class="mt-5 mb-4 text-center">There is no items in your cart</h2>
        {% endif %}
    </div>
   
{% endblock %}

{%  block js %}
    <script src="/app/js/script.js"></script>
{% endblock %}